Package: squidclient-dbgsym
Package-Type: ddeb
Source: squid
Version: 4.10-1ubuntu1.5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 340
Depends: squidclient (= 4.10-1ubuntu1.5)
Section: debug
Priority: optional
Description: debug symbols for squidclient
Build-Ids: 2cf6449077d8f3a360388e0e0072f9430c1c13e5
Original-Maintainer: Luigi Gangitano <luigi@debian.org>
