Package: squid-common
Source: squid
Version: 4.10-1ubuntu1.5
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 483
Depends: squid-langpack (>= 20110214-1)
Provides: squid3-common
Section: web
Priority: optional
Homepage: http://www.squid-cache.org
Description: Full featured Web Proxy cache (HTTP proxy) - common files
 Squid is a high-performance proxy caching server for web clients, supporting
 FTP, gopher, ICY and HTTP data objects.
 .
 This package contains common files (MIB and icons)
Original-Maintainer: Luigi Gangitano <luigi@debian.org>
