Package: squid-purge-dbgsym
Package-Type: ddeb
Source: squid
Version: 4.10-1ubuntu1.5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 162
Depends: squid-purge (= 4.10-1ubuntu1.5)
Section: debug
Priority: optional
Description: debug symbols for squid-purge
Build-Ids: 1af4636a49a13f6bf482ac443096213ff1e0eedc
Original-Maintainer: Luigi Gangitano <luigi@debian.org>
